In [95]:
import pandas as pd
import numpy as np
data = pd.read_excel('./2 -Entrepreneurial competency in university students.xlsx')
data

,EducationSector,Target IndividualProject,Age,Gender,City,Influenced,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,MentalDisorder,KeyTraits,ReasonsForLack,Target-ent_competency
0,Engineering Sciences,No,19.0,Male,Yes,No,2.0,2.0,3.0,3.0,2.0,2.0,3.0,Yes,Passion,NaN,1
1,Engineering Sciences,Yes,22.0,Male,No,Yes,3.0,3.0,3.0,4.0,4.0,3.0,4.0,Yes,Vision,Just not interested! (Want to work in the corp...,0
2,Engineering Sciences,No,18.0,Male,Yes,No,3.0,4.0,3.0,3.0,3.0,4.0,4.0,No,Passion,Not willing to start a venture in India and wa...,0
3,Engineering Sciences,Yes,20.0,Male,Yes,Yes,3.0,3.0,3.0,3.0,4.0,3.0,3.0,No,Rrresilience,Not able to take a Financial Risk,0
4,Engineering Sciences,Yes,19.0,Male,Yes,Yes,2.0,3.0,3.0,3.0,4.0,3.0,2.0,Yes,Vision,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Engineering Sciences,Yes,19.0,Male,Yes,Yes,NaN,5.0,4.0,3.0,4.0,4.0,5.0,Yes,Positivity,NaN,1
215,Engineering Sciences,Yes,19.0,Male,Yes,No,2.0,2.0,2.0,2.0,2.0,2.0,2.0,No,Work Ethic,Just not interested! (Want to work in the corp...,0
216,Engineering Sciences,Yes,22.0,Female,Yes,Yes,3.0,4.0,4.0,3.0,4.0,4.0,3.0,No,Vision,NaN,1
217,Engineering Sciences,No,19.0,male,Yes,No,1.0,2.0,2.0,3.0,3.0,2.0,2.0,No,Passion,Lack of Knowledge,0
218,Engineering Sciences,Yes,18.0,Male,unknown,Yes,3.0,5.0,3.0,5.0,5.0,5.0,2.0,No,Passion,NaN,1

In [96]:
there_are_no_duplicates = len(data.drop_duplicates()) == len(data)

In [97]:
data.columns

Index(['EducationSector', 'Target IndividualProject ', 'Age', 'Gender', 'City',
       'Influenced', 'Perseverance', 'DesireToTakeInitiative',
       'Competitiveness', 'SelfReliance', 'StrongNeedToAchieve',
       'SelfConfidence', 'GoodPhysicalHealth', 'MentalDisorder', 'KeyTraits',
       'ReasonsForLack', 'Target-ent_competency'],
      dtype='object')

In [98]:
data.columns = data.columns.str.strip().str.replace(' ', '').str.replace('-', '').str.replace('_', '').str.replace('Targetentcompetency', 'TargetEntCompetency')
data.columns

Index(['EducationSector', 'TargetIndividualProject', 'Age', 'Gender', 'City',
       'Influenced', 'Perseverance', 'DesireToTakeInitiative',
       'Competitiveness', 'SelfReliance', 'StrongNeedToAchieve',
       'SelfConfidence', 'GoodPhysicalHealth', 'MentalDisorder', 'KeyTraits',
       'ReasonsForLack', 'TargetEntCompetency'],
      dtype='object')

In [99]:
data["Gender"] = data["Gender"].map({ "Male":"M","Female":"F", "female":"F", "male":"M"})
data["Gender"].isna().sum()

0

In [100]:
data[["Influenced"]].value_counts()
data[["City"]].value_counts()
data[["MentalDisorder"]].value_counts()

MentalDisorder
No                148
Yes                59
Name: count, dtype: int64

In [101]:
def standardize_booleans(columnName):
    data[columnName] = data[columnName].map(
        {
            x: True if x == "Yes" or x == "yes" or x == "1" else False
            for x in data[columnName]
        }
    )


for i in [
    "Influenced",
    "City",
    "MentalDisorder",
    "TargetIndividualProject",
    "TargetEntCompetency",
]:
    standardize_booleans(i)

In [102]:
data

,EducationSector,TargetIndividualProject,Age,Gender,City,Influenced,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,MentalDisorder,KeyTraits,ReasonsForLack,TargetEntCompetency
0,Engineering Sciences,False,19.0,M,True,False,2.0,2.0,3.0,3.0,2.0,2.0,3.0,True,Passion,NaN,False
1,Engineering Sciences,True,22.0,M,False,True,3.0,3.0,3.0,4.0,4.0,3.0,4.0,True,Vision,Just not interested! (Want to work in the corp...,False
2,Engineering Sciences,False,18.0,M,True,False,3.0,4.0,3.0,3.0,3.0,4.0,4.0,False,Passion,Not willing to start a venture in India and wa...,False
3,Engineering Sciences,True,20.0,M,True,True,3.0,3.0,3.0,3.0,4.0,3.0,3.0,False,Rrresilience,Not able to take a Financial Risk,False
4,Engineering Sciences,True,19.0,M,True,True,2.0,3.0,3.0,3.0,4.0,3.0,2.0,True,Vision,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Engineering Sciences,True,19.0,M,True,True,NaN,5.0,4.0,3.0,4.0,4.0,5.0,True,Positivity,NaN,False
215,Engineering Sciences,True,19.0,M,True,False,2.0,2.0,2.0,2.0,2.0,2.0,2.0,False,Work Ethic,Just not interested! (Want to work in the corp...,False
216,Engineering Sciences,True,22.0,F,True,True,3.0,4.0,4.0,3.0,4.0,4.0,3.0,False,Vision,NaN,False
217,Engineering Sciences,False,19.0,M,True,False,1.0,2.0,2.0,3.0,3.0,2.0,2.0,False,Passion,Lack of Knowledge,False
218,Engineering Sciences,True,18.0,M,False,True,3.0,5.0,3.0,5.0,5.0,5.0,2.0,False,Passion,NaN,False

In [103]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors = 5)
columnNames = data.columns[data.isnull().any()].tolist()[0:-1]
data[columnNames] = imputer.fit_transform(data[columnNames])

In [104]:
numerical = data.select_dtypes(include=np.number)
data[numerical.columns] = numerical.astype(int)
data

,EducationSector,TargetIndividualProject,Age,Gender,City,Influenced,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,MentalDisorder,KeyTraits,ReasonsForLack,TargetEntCompetency
0,Engineering Sciences,False,19,M,True,False,2,2,3,3,2,2,3,True,Passion,NaN,False
1,Engineering Sciences,True,22,M,False,True,3,3,3,4,4,3,4,True,Vision,Just not interested! (Want to work in the corp...,False
2,Engineering Sciences,False,18,M,True,False,3,4,3,3,3,4,4,False,Passion,Not willing to start a venture in India and wa...,False
3,Engineering Sciences,True,20,M,True,True,3,3,3,3,4,3,3,False,Rrresilience,Not able to take a Financial Risk,False
4,Engineering Sciences,True,19,M,True,True,2,3,3,3,4,3,2,True,Vision,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Engineering Sciences,True,19,M,True,True,3,5,4,3,4,4,5,True,Positivity,NaN,False
215,Engineering Sciences,True,19,M,True,False,2,2,2,2,2,2,2,False,Work Ethic,Just not interested! (Want to work in the corp...,False
216,Engineering Sciences,True,22,F,True,True,3,4,4,3,4,4,3,False,Vision,NaN,False
217,Engineering Sciences,False,19,M,True,False,1,2,2,3,3,2,2,False,Passion,Lack of Knowledge,False
218,Engineering Sciences,True,18,M,False,True,3,5,3,5,5,5,2,False,Passion,NaN,False

In [106]:
data.to_csv('cleaned.csv')